
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Inscriptions</h1>
        <form method="POST">
            {% csrf_token %}
           
                <input type="text" name="username" placeholder="Pseudo">
                <label for="floatingInput">Pseudo</label>
             
                <input type="password" name="password1" placeholder="Mot de passe">
                <label>Password</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="password" name="password2" placeholder="Confirmer le mot de passe">
                <label >Confirme password</label>
              </div>
              <br>
              <div><button type="submit">Submit</button></div>
            
             <br>
             
        </form>
    </body>
</html>